@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Cuprum", Arial, sans-serif;
}

.block {
  overflow: hidden;
}

.block__inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hamburger-menu {
  display: none;
}

.header {
  top: 0;
  position: fixed;
  z-index: 5;
  background-color: rgba(245, 245, 245, 0.95);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  width: 100%;
}
.header .header__inner {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1820px;
  padding-top: 10px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.header .header__logo img {
  max-width: 200px;
  width: 200px;
}

.nav__menu {
  padding-top: 25px;
  display: flex;
}

.nav__item {
  position: relative;
  margin-left: 35px;
  font-size: 20px;
  font-weight: 300;
}
.nav__item ::after {
  content: "";
  bottom: 20%;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 2px solid #ba3e5a;
}
.nav__item :hover::after {
  bottom: -1px;
  opacity: 1;
}
.nav__item a {
  color: #2e2e2e;
}

.nav__item a.active {
  transition: 0.5s;
}
.nav__item a.active::after {
  content: "";
  bottom: 20%;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 2px solid #ba3e5a;
  bottom: -1px;
  opacity: 1;
}

.b-director__inner {
  position: relative;
}

.b-director__text {
  top: 200px;
  right: 0;
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  color: #fff;
  font-weight: 400;
  z-index: 1;
  text-align: right;
}

.director__title {
  color: #fff;
  margin-right: 20px;
  opacity: 0;
  animation: zoomIn 0.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 0.8s;
  transform: scale(0.9);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.17;
  border-bottom: 1px solid white;
}

.director__subtitle {
  transform: scale(0.9);
  margin-right: 20px;
  opacity: 0;
  animation: zoomIn 0.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1.2s;
}

.director__slogan {
  transform: scale(0.9);
  margin-right: 20px;
  opacity: 0;
  animation: zoomIn 0.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1.5s;
  width: 270px;
  margin-top: 15px;
}

.arrow__next-block::after {
  transition: 0.3s;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50px;
  animation: arrow 1.7s infinite ease;
  position: absolute;
  content: "";
  width: 40px;
  height: 20px;
  justify-content: space-between;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

.arrow__next-block:hover::after {
  opacity: 0.7;
}

.b-director {
  background-image: url(../img/bgLow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  position: relative;
  margin-top: 90px;
}

.b-director::after {
  opacity: 0;
  animation: opacityBg 1s forwards;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: scroll;
  background-position: left bottom;
  height: 100%;
  content: "";
  background-image: url(../img/noroot2.jpg);
}

.b-services {
  padding-top: 105px;
  padding-bottom: 165px;
  background-color: #f2f2f2;
}

.b-services__inner {
  text-align: center;
}

.page__title {
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  color: #061b35;
  font-size: 42px;
  line-height: 1.23;
  margin-bottom: 40px;
  max-width: 800px;
  text-align: center;
}

.page__text {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 105px;
  max-width: 480px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  color: #061b35;
  text-align: center;
}

.b-services__cards {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card__text {
  width: 100%;
  padding: 30px 30px 40px;
  box-sizing: border-box;
  margin-top: 232px;
  line-height: 1.55;
}

.b-services__card {
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  flex-shrink: 0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 415px;
  width: calc(100%/3 - 40px);
}
.b-services__card:hover .card__list {
  opacity: 1;
  transform: translateY(-232px);
}
.b-services__card:hover .card__title {
  transform: translateY(-232px);
}

.card__title {
  transition: 0.3s;
  position: relative;
  padding-bottom: 40px;
  font-size: 22px;
  line-height: 1.35;
  font-weight: 800;
}
.card__title::after {
  left: 0;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  background-color: #fff;
}

.card__list {
  text-align: left;
  line-height: 1.55;
  font-size: 16px;
  transition: 0.3s;
  opacity: 0;
  margin-left: 15px;
}

.card__list--item {
  list-style: disc;
}

.b-advantages {
  padding-top: 120px;
}

.b-advantages__inner {
  opacity: 0;
}

.b-advantages__cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.b-advantages__card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 90px;
  width: calc(100%3);
  text-align: center;
}

.b-advantages__card--img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.b-advantages__card--title {
  font-size: 24px;
  margin: 12px;
  line-height: 1.35;
  font-weight: 700;
  color: #061b35;
}

.b-advantages__card--description {
  font-size: 16px;
  line-height: 1.55;
  max-width: 320px;
}

.b-advantages__text {
  max-width: 560px;
}

.b-advantages__social {
  opacity: 0;
  text-align: center;
}
.b-advantages__social img {
  padding-left: 5px;
  padding-right: 5px;
}

.b-contact__card {
  width: calc(100%/2);
}

.b-contact {
  padding-top: 160px;
}

.b-contact__inner {
  flex-wrap: wrap;
  display: flex;
}

.b-contact__info {
  height: 100%;
  background-color: #1d416d;
}

.b-contact__info {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.b-contact__info * {
  margin-left: 90px;
  max-width: 220px;
}
.b-contact__info .b-contact__info--time {
  font-size: 16px;
}

.b-contact__info--adress {
  padding-top: 100px;
}

.b-contact__info--tel {
  margin-bottom: 40px;
  margin-top: 42px;
}

.showblock {
  transition: 1s;
  opacity: 1;
}

.b-owner__inner {
  display: flex;
}

.b-owner {
  margin-top: 135px;
}

.b-owner__card {
  margin-left: 20px;
  margin-right: 20px;
}

.b-owner__name {
  font-size: 26px;
  line-height: 1.23;
  font-weight: 700;
  color: #061b35;
}

.b-owner__post {
  margin-top: 5px;
  color: #666;
  font-size: 16px;
  line-height: 1.55;
}

.b-owner__mail {
  margin-bottom: 28px;
  color: #ba3e5a;
  font-size: 16px;
  line-height: 1.55;
}

.b-owner__title {
  margin-top: 28px;
  font-size: 18px;
  line-height: 1.55;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  color: #061b35;
}

.b-owner__text {
  margin-top: 28px;
  font-size: 18px;
  line-height: 1.55;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #061b35;
}
.b-owner__text li {
  list-style: disc;
}

.b-owner__list {
  margin-left: 20px;
}

.b-owner__social {
  margin-top: 135px;
  text-align: center;
}
.b-owner__social a {
  margin: 5px;
}

.slick-arrow {
  opacity: 0;
}

.b-reviews {
  margin-top: 100px;
}

.b-reviews__photo {
  width: 100px;
  border-radius: 100px;
  height: 100px;
  margin-right: 20px;
}

.b-reviews__text {
  max-width: 550px;
  font-size: 16px;
  line-height: 1.55;
}

.b-reviews__people {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

.b-reviews__item {
  margin: 1.5rem;
  min-height: 370px;
  padding-top: 100px;
  position: relative;
  display: flex;
}
.b-reviews__item:before {
  position: absolute;
  top: 0;
  z-index: 2;
  content: "";
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/iconfinder_f10d_213175.png);
}

.b-reviews__title {
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  color: #061b35;
  font-size: 42px;
  line-height: 1.23;
  margin-bottom: 40px;
  max-width: 800px;
  text-align: center;
}

.b-reviews__name {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.55;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  color: #061b35;
}

.b-reviews__location {
  margin-top: 5px;
  color: #666;
  font-size: 16px;
  line-height: 1.55;
}

.b-blog {
  background-color: #f2f2f2;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.b-blog__title {
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  color: #061b35;
  font-size: 42px;
  line-height: 1.23;
  margin-bottom: 40px;
  max-width: 800px;
  text-align: center;
}

.b-blog__news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.b-blog__article {
  width: calc(100%/3);
}

.b-blog__img {
  width: 370px;
  height: auto;
  transition: 0.5s;
}
.b-blog__img:hover {
  opacity: 0.8;
}

.b-blog__time {
  color: #9698a3;
  margin-right: 30px;
}

.b-blog__name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.35;
  font-weight: 700;
  color: #061b35;
  transition: 0.4s;
}
.b-blog__name:hover {
  color: #1D416D;
}

.b-blog__button {
  cursor: pointer;
  font-size: 16px;
  padding: 1em 1.5em;
  line-height: 1.35;
  font-weight: 700;
  color: #666;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  min-height: 50px;
  min-width: 200px;
  border: 1px solid #4e5663;
  transition: 0.3s;
  text-transform: uppercase;
}
.b-blog__button:hover {
  background-color: #1D416D;
  color: #fff;
}

.b-article {
  margin-top: 120px;
  margin-bottom: 120px;
}

.b-article__title {
  color: #86003d;
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.b-article__image {
  width: 80%;
  height: auto;
}

.b-article__text {
  line-height: 1.55;
  max-width: 80%;
  color: #606060;
  margin-left: 0;
  font-size: 18px;
}

.b-article__paragraph {
  margin-top: 20px;
  display: inline-block;
}

.b-article__item--title {
  margin-top: 30px;
  font-size: 22px;
  text-transform: uppercase;
  color: #1f4068;
}

.b-article__inner {
  display: flex;
}

.b-article__post {
  margin-bottom: 50px;
}

.b-grid {
  margin-top: 120px;
}

.b-grid__inner {
  display: flex;
  flex-wrap: wrap;
}

.b-grid__article {
  margin-bottom: 50px;
  width: calc(100%/3);
}

@media screen and (max-width: 979px) {
  .b-director__text {
    right: 5%;
  }

  .b-advantages__card {
    width: 100%;
  }

  .b-advantages__card--description {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .b-blog__article {
    margin-bottom: 20px;
    width: 100%;
  }

  .b-blog {
    text-align: center;
  }

  .b-reviews {
    margin-left: 10%;
  }

  .b-reviews__item {
    min-height: 500px;
  }

  .b-reviews__text {
    max-width: 300px;
  }

  .b-services__cards {
    text-align: center;
    display: block;
  }

  .b-services__card {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  .b-services__card:hover .card__list {
    opacity: 1;
    transform: translateY(0px);
  }
  .b-services__card:hover .card__title {
    opacity: 1;
    transform: translateY(0px);
  }

  .card__text {
    margin-top: 0;
  }

  .card__list {
    opacity: 1;
  }

  .hamburger-menu {
    display: block;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    z-index: 1;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #000;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  #menu__toggle {
    opacity: 0;
  }

  .nav__item {
    visibility: hidden;
  }

  .nav__item--hamb {
    margin: 40px;
  }
  .nav__item--hamb a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
  }
  .nav__item--hamb:last-child {
    position: absolute;
    bottom: 1%;
  }

  .header .header__inner {
    padding-bottom: 0;
  }

  .b-grid__inner {
    display: block;
    text-align: center;
  }

  .b-grid__article {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .b-article__inner {
    display: block;
  }

  .b-article__news {
    margin-left: 10%;
    margin-right: 10%;
  }

  .b-article__other {
    margin-top: 50px;
  }

  .b-blog__img {
    max-width: 340px;
  }

  .b-article__post {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
  }

  .b-article__text {
    max-width: 100%;
  }

  .b-article__image {
    width: 100%;
  }

  .b-owner__card {
    margin-left: 10%;
    margin-right: 10%;
  }

  .b-owner__img {
    width: 100%;
  }

  .b-owner__inner {
    display: block;
  }
}
@keyframes opacityBg {
  100% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  100% {
    margin-right: 0px;
    opacity: 1;
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  55% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}